# gradle
target
activemq-data
h2-data
build
.gradle
# idea
out
classes
.idea
*.iml
*.ipr
*.iws
*.pyc
# etc
*.tsv
*.chk
*.swp
*.rdb
#*.txt
*.tsv
rebel.xml
.DS_Store
npm-debug.log
access_logs.db
node_modules/
semantic/dist/
semantic/examples/
semantic/Semantic-UI-Docs/
!semantic/tasks/build
temp/
deploysvn.conf
.svn/
# sql
mysql-ddl.sql
# private env
*.log
metastore_db