@import "nav";
body,
html {
    margin: 0;
    padding: 0;
}
#wrap-content {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
}
#side-content {
    width: 30%;
    height: 100%;
    position: relative;
    float: left;
    background-color: #1E90FF;
}
#main-content {
    margin-top: 12.5%;
    width: 70%;
    height: 87.5%;
    position: relative;
    float: left;
    text-align: center;
}
