@import "nav.scss";

html,body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#wrap-content {
    width: 100%;
    height: 100vh;
}
#side-content {
    width: 30%;
    height: 100%;
    position: relative;
    float: left;
    background-color: #1E90FF;
}
#main-content {
    margin-top: $nav_height;
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    text-align: center;
}
#side-content-right{
   width: 20%;
   height: 80px;
   position: relative;
   float: right;
   text-align: right;
}
