@import "nav";
body,
html {
    margin: 0;
    padding: 0;
}
#wrap-content {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
}
#side-content {
    width: 30%;
    height: 100%;
    position: relative;
    float: left;
    background-color: #1E90FF;
}
#main-content {
<<<<<<< HEAD
    margin-top: 12.5%;
    width: 70%;
    height: 87.5%;
=======
    margin-top: $nav_height;
    width: 50%;
    height: 100%;
>>>>>>> 79dfe9d188abf3eeb024657d837d2f6dbec494fc
    position: relative;
    float: left;
    text-align: center;
}
#side-content-right{
   width: 20%;
   height: 80px;
   position: relative;
   float: right;
   text-align: right;
}
