#main-content {
    width: 86.4%;
    margin: 68px 6.8% 0 6.8%;
    box-sizing: border-box;
}
.main {
    width: 88.98%;
    height: 553px;
    display: flex;
    align-items: center;
}
.main-diary-monthly {
    width: 84.74%;
    height: 553px;
    display: flex;
    align-items: center;
}
.diary-indicator {
    width: 2.84%;
    height: 54.8%;
    margin-left: 4.07%;
    border: solid 1px red;
}
.diary-textbox {
    width: 55.23%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    float: left;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.diary-picture {
    width: 38.09%;
    height: 91.13%;
    background-color: #000000;
    border-radius: 3px;
    position: relative;
    float: left;
}
