#main-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 3%;
    box-sizing: border-box;
}
.main {
    margin: 48px auto 0;
    width: 75%;
    min-width: 576px;
    height: 576px;
    display: flex;
    align-items: center;
}
.diary-indicator{
  width: 50px;
  height: 500px;
  border: solid 1px red;
}
.diary-textbox{
  width: 60%;
  height: 100%;
  min-width: 345.6px;
  background-color: #ffffff;
  position: relative;
  float: left;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.diary-picture{
  width: 40%;
  min-width: 230.4px;
  height: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000000;
  border-radius: 3px;
  position: relative;
  float: left;
}
