#main-content {
    width: 86.4%;
    margin: 68px 6.8% 0 6.8%;
    min-width: 768px;
    box-sizing: border-box;
}
.weekly-diary-main {
    width: 88.98%;
    height: 553px;
    display: flex;
    align-items: center;
}
.main-diary-monthly {
    width: 84.74%;
    height: 553px;
    display: flex;
    align-items: center;
}
.diary-indicator {
    width: 2.84%;
    height: 54.8%;
    margin-left: 4.07%;
}
.diary-textbox {
    width: 55.23%;
    height: 100%;
    position: relative;
    float: left;
    border-radius: 3px;
    background-color: #ffffff;
  	box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.35);
    z-index: 11;
}
.diary-picture {
    width: 38.09%;
    height: 91.13%;
    background-color: #e5e1e1;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    position: relative;
    float: left;
    z-index: 10;
}
