.diary-monthly{
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  background-image: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);


}
.diary-monthly-log-info{
  width: 40%;
  min-width: 345.6px;
  height: 100%;
  background-image: linear-gradient(to top, #3859f6,#418cff), linear-gradient(#ffba43,#ffba43);
  border-radius: 3px;
  position: relative;
  float: left;
  text-align: center;
  color: #ffffff;
}
.text-monthly-log-info-nickname{
  font-size: 26px;
}
.text-monthly-log-info-default{
  font-size: 18px;
}
.text-monthly-log-info-log{
  font-size: 26px;
}
.text-monthly-log-info-email{
  font-size: 18px;
}
.text-monthly-log-info-title{
  font-size: 18px;
}
