.diary-monthly{
  width: 100%;
  height: 100%;
  float: left;
  position: relative;
  background-image: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.diary-monthly-calendar{
  width: 71.92%;
  height: 100%;
  border-radius: 3px;
  position: relative;
  float: left;
}

// MonthlyLogInfo
.diary-monthly-log-info{
  width: 28.08%;
  height: 100%;
  background-image: linear-gradient(to top, #3859f6,#418cff), linear-gradient(#ffba43,#ffba43);
  border-radius: 3px;
  position: relative;
  float: left;
  text-align: center;
  color: #ffffff;
}
.text-monthly-log-info-top-container{
  margin-top: 85px;
}
.text-monthly-log-info-bottom-container{
  position:absolute;
  height: 100px;
  text-align: center;
  bottom:0px

}
.text-monthly-log-info-nickname{
  font-size: 26px;
  margin: 0px;
}
.text-monthly-log-info-default{
  font-size: 18px;
}
.text-monthly-log-info-log{
  font-size: 26px;
}
.text-monthly-log-info-email{
  font-size: 18px;
}
.text-monthly-log-info-title{
  font-size: 18px;
}

// MonthlyCalendar

.row-week{
  border: solid blue 1px;

}
.column{
  text-align: center;
}
.text-monthly-calendar-year{
  font-size: 18px;
  text-align: right;
}
.diary-monthly-week-container{
  width: 100%;
  height: 70%;
}
.laquo{
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
}
.Calendar-grid{
  width: 71.92%;
  position:absolute;
  right: 0px;
  padding: 20px;
  bottom: 0px;
}
.Calendar-grid-item {
  width: 102px;
  height: 40px;
  text-align: center;
}
.Calendar-grid-item-write{
  width: 102px;
  height: 40px;
  text-align: center;
  background-color: #ffba43;
}
.Calendar-grid-item-unwrite{
  width: 102px;
  height: 40px;
  text-align: center;
}
.Calendar-month-item{
  text-align: center;
  color: #5a5e65;
}
.Calendar-day-item{
  text-align: center;
  color: #5a5e65;
}
.Calendar-indicator{
  float: right;
  width: auto;;
  height: 20px;
}
