.nav {
    margin-left: 6.8%;
    margin-right: 6.8%;
    width: 87.4%;
    padding-top: 3%;
    position: absolute;
}
.logo_btn {
    float: left;
}
.logo_btn>a>img{
  width: 40%;
  height: 40%;
}
.month_btn {
    clear: both;
}
.week_btn {
    clear: both;
}
.setting_btn {
    float: right;
}
