.nav {
    width: 86.4%;
    margin: 0 6.8%;
    height: 96px;
}
.logo {
    float: left;
    margin-top: 48px;
    width: 100px;
    height: 27px;
}
.mypage {
    float: right;
    margin-top: 48px;
    width: 100px;
    height: 27px;
}
