.nav {
    width: 100%;
    margin: 0 auto;
    padding: 0 3%;
    height: 96px;
    box-sizing: border-box;
}
.logo {
    float: left;
    margin-top: 48px;
    height: 30px;
}
.mypage {
    float: right;
    margin-top: 48px;
    height: 30px;
}
