.side {
    max-width: 100px;
    float: left;
    padding-right: 1.69%;
}
.side > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.month {
    padding-left: 0;
    margin-bottom: 20px;
    height: 30px;
}
.week {
    padding-left: 0;
    height: 30px;
}
