.diary-textbox-inner{
  width: 100%;
  height: 100%;
}
.current_diary_image {
    position: absolute;
    width: 19%;
    height: 11.9%;
    top: 44.05%;
    left: 40.5%;
}
.btn_img_add {
    position: absolute;
    top: 82.96%;
    left: 78.5%;
    height: 8.73%;
    width: 11%;
}
.btn_current_time {
    position: absolute;
    width: 3.79%;
    height: 4.33%;
    left: 9.82%;
    top: 8.67%;
}
.btn_trash {
    position: absolute;
    width: 3.79%;
    height: 4.33%;
    left: 85%;
    top: 8.67%;
}
.diary_created_date {
    position: absolute;
    left: 18.1%;
    top: 9.4%;
    font-size: 1.25rem;
}
.diary_title {
    position: absolute;
    left: 9.65%;
    top: 18.62%;
    border: none;
    font-size: 2.4375rem;
}
.seperate_title_contents {
    position: absolute;
    width: 6.55%;
    top: 30.37%;
    left: 9.65%;
}
.diary_contents {
    position: absolute;
    width: 79.48%;
    height: 50%;
    left: 9.65%;
    top: 35.8%;
    border: none;
    resize: none;
    overflow: scroll;
}
.btn_diary_edit {
    display: inline-block;
    position: absolute;
    left: 70.51%;
    top: 88.06%;
    width: 18.27%;
    height: 6.32%;
    border: solid 2px #5a5e65;
    border-radius: 17.5px;
    text-align: center;
    vertical-align: middle;
}
.btn_diary_save{
    position: absolute;
    left: 70.51%;
    top: 88.06%;
    width: 18.27%;
    height: 6.32%;
    background-color: #418cff;
    border-radius: 17.5px;
    text-align: center;
}
.diary-indicator ul {
    list-style: none;
    padding: 0;
    margin: auto;
}
.diary-indicator ul li {
    margin-bottom: 10px;
}
.indicator_1,
.indicator_2,
.indicator_3,
.indicator_4,
.indicator_5,
.indicator_6,
.indicator_7 {
    width: 66.67%;
    margin: 0 16.67%;
}
.indicator_down,
.indicator_up {
    width: 100%;
}
.indicator_down {
    transform: rotate(180deg);
}
.indicator_1:hover,
.indicator_2:hover,
.indicator_3:hover,
.indicator_4:hover,
.indicator_5:hover,
.indicator_6:hover,
.indicator_7:hover {
    box-shadow: 1px 1px 5px #888888;
    background-color: #888888;
    transform: scale(1.1);
}
.btn_current_time:hover,
.btn_trash:hover,
.indicator_up:hover {
    transform: scale(1.3);
}
.indicator_down:hover {
    transform: scale(1.3) rotate(180deg);
}
