.main-grid-column {
  margin-top : 20px;
    border-left: 1px solid #F6F6F6;
}
.diary-grid-row {
    border-right: 1px solid #F6F6F6;
    height: 1310px;
}
.diary-card {
    border-top: 1px solid #F6F6F6;
    height: 145px;
    width: 145px;
}
.diary-card:first-child {
    height: 75px !important;
}
.diary-card:last-child {
    height: 75px !important;
}
.diary-card:hover {
  background-color: rgba(183, 179, 220, 0.4);
}
/*.plus {
  pointer-events: none;
}*/
.month-list-set {
    margin-top: 60px;
}
.month-list {
    font-family: 'Roboto Mono', monospace;
    margin-top: 23px;
    width: 8px;
    height: 9px;
    opacity: 0.3;
    font-family: Dinreg;
    font-size: 7.5px;
    font-weight: 400;
    color: #5f5f5f;
}
.month-list-selected {
    margin-top: 23px;
    width: 8px;
    height: 9px;
    font-family: Dinmed;
    font-size: 7.5px;
    font-weight: 400;
    color: #8596ae;
}
#selected-year {
    padding-top: 50px;
    width: 44px;
    height: 18px;

    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: 400;
    color: #8499ba;
}
#selected-month {
    font-family: 'Roboto Mono', monospace;
    font-weight: reqular;
    padding-top: -10px;
    margin-top: -15px;
    width: 128px;
    height: 91px;
    font-size: 70px;
    font-weight: 400;
    color: #8499ba;
    text-decoration: underline;
}
.ui[class*="two column"].grid>.column:not(.row), .ui[class*="two column"].grid>.row>.column {
    width: 60%;
    margin-top: 20px;
}
.diary-view-btn-list {
    margin-top: 255px;
    margin-left: 10px;
    float: right;
    z-index: 1002;
}
.diary-preview {
    display: block !important;
    margin-top: -13% !important;
    margin-left: -10% !important;
    width: 46% !important;
    height: 400px;
    position: fixed;
    z-index: 1001;
    border-radius: 0 !important;
    background-color: rgba( 255, 255, 255, 0.1) !important;
}
.ui.modal {
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, .2), 0px 0px 0px 0px rgba(0, 0, 0, .2) !important;
}
.diary-preview-body {
    display: inline !important;
}
.diary-card .header {
    margin-top: 12px;
    margin-left: 6px;
    width: 93.5px;
    height: 13.5px;
    font-family: NanumSquareOTFB;
    font-size: 12.5px;
    font-weight: 400;
    color: #4d4a4a;
}
.diary-card .description {
    margin-top: 20px;
    margin-left: 7px;
    width: 93.5px;
    font-family: AppleSDGothicNeo;
    font-size: 7.5px;
    font-weight: 500;
    color: #5d5d5d;
    max-height: 53px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.diary-card .bottom-btn {
    margin-top: 10px;
    margin-left: 7px;
    font-size: 7.5px;
    font-weight: 500;
    color: #5d5d5d;
}
.today-card {
    opacity: 0.8;
    background-color: rgba(213, 225, 241, 0.8) !important;
}
.today-card .today {
    margin-top: 10px;
    width: 43.5px;
    height: 28px;
    font-family: Ayuthaya;
    font-size: 20px;
    font-weight: 400;
    color: #a39ed1;
}
.diary-card .plus {
    margin-left: 2em;
    margin-top: 2.5em;
    width: 17.5px;
    height: 28px;
    font-family: NanumSquareOTFB;
    font-size: 25px;
    font-weight: 400;
    color: #b7b3dc;
}
#diary-view-week-header {
    margin-top: 20px;
    width: 300px;
    height: 39px;
    font-family: NanumSquareOTFB;
    font-size: 35px;
    font-weight: 400;
    color: #5f5f5f;
}
#diary-view-week-description {
    max-width: 600px;
    font-family: NanumSquareOTFR;
    font-size: 11.5px;
    font-weight: 400;
    color: #5f5f5f;
    min-height: 166px;
    max-height: 166px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.weekPageBackgroundImg {
  margin-top: -220px;
  margin-left: 250px;
  width: 300px;
	height: 300px;
	background-color: rgba(224, 224, 238, 0.6);
  z-index: -1;
}

#diary-view-week-img {
    margin-left: 110px;
    margin-top: 67px;
    width: 150px;
    height: 150px;
    z-index: 9999;
}
.diary-view-week-btn {
    margin-top: -20px;
}
#selected-day {
    margin-top: 90px;
    width: 92px;
    height: 40px;
    font-family: Ayuthaya;
    font-size: 40px;
    font-weight: 400;
    color: #8499ba;
    text-decoration: underline;
}
.ui.dimmer {
    display: none;
    position: absolute;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(183, 179, 220, 0.4);
    opacity: 1 !important;
}

.textContent {
  width: 750px;
	height: 600px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px 2px rgba(173, 173, 173, 0.5);
  float: left;
  margin-left : -150px;
  margin-top : -300px;
}

.imageContent {
  width: 450px;
	height: 600px;
	background-color: rgba(224, 224, 238, 1);
  box-shadow: 0 2px 4px 2px rgba(173, 173, 173, 0.5);
  margin-left : 600px;
  margin-top : -300px;
}

.currentTime {
  font-size: 20px;
	color: #8499ba;
	margin-top: 17px;
  margin-left: 100px;
}

.writingStatus {
  font-size: 13px;
  height: auto;
	color: #ffffff;
  margin-left: 650px;
  margin-top: -17px;
}

#text-header {
  font-size: 30px;
  color: #d3d3d3;
  margin-top: 80px;
  margin-left: 100px;
  border : 0px;
  text-decoration: underline;
  resize : none;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-left: 10px;
}

#text-body {
  font-size: 13px;
	color: #d3d3d3;
  margin-top: 90px;
  margin-left: 100px;
  border: 0px;
  text-decoration: underline;
  width: 550px;
  height: 250px;
  padding: 10px;
  resize : none;
  overflow: scroll;
}

.limitedWordCnt {
  color: #d3d3d3;
  margin-top: 20px;
  margin-left: 600px;
}

#addImgBtn {
  width: 250px;
	height: 250px;
	border: solid 2px #a39ed1;
  background-color: rgba(0, 0, 0, 0);
  color : #a39ed1;
  font-size: 60px;
  margin-top: 150px;
  margin-left: 100px;
}

#diaryImageTag {
  width: 250px;
	height: 250px;
	border: solid 2px #a39ed1;
  background-color: rgba(0, 0, 0, 0);
  color : #a39ed1;
  font-size: 60px;
  margin-top: 150px;
  margin-left: 100px;
}

#cancleBtn {
  width: 90px;
	height: 40px;
	border-radius: 40px;
	border: solid 2px #a39ed1;
  background-color: rgba(0, 0, 0, 0);
  color : #a39ed1;
  margin-top: 130px;
  margin-left: 200px;
}

#completeBtn {
  width: 90px;
	height: 40px;
	border-radius: 40px;
	border: solid 2px #a39ed1;
  background-color: rgba(0, 0, 0, 0);
  color : #a39ed1;
  margin-left: 15px;
}

#diary-store-modal {
  width: 1200px;
	height: 600px;
	background-color: rgba(224, 224, 238, 0.6);
  margin-left : -600px;
  margin-top : -300px;
}

#storeBtn {
  width: 150px;
	height: 50px;
	border-radius: 40px;
	background-color: #bbb8d6;
	border: solid 1px #bbb8d6;
  color : #ffffff;
  font-size: 30px;
  margin-top: 275px;
  margin-left: 525px
}

#logo {
  width: 60px;
  height: auto;
}

.diary-view-btn-list input{

  width: 10px;
  height: auto;
}

.week-preview-prev {
  width: 12px;
  height: auto;
}

.diary-view-type {
  width: 35px;
  height: auto;
}

.weekPageYearMonth {
  font-size: 11px;
  margin-top: -30px;
  margin-left: 15px;
}

.weekPageDay {
  font-size: 27px;
  margin-top:-34px;
  margin-left:15px;
}

#weekPageDeleteBtn {
  width: 57px;
	height: 20px;
  font-size: 12px;
  margin-left: 10px;
  margin-top: -14px;
  color: #a39ed1;
  background-color: rgba(224, 224, 238, 0);
	border-radius: 20px;
	border: solid 1px #a39ed1;
  z-index: 2px;
}

#weekPageEditBtn {
  width: 57px;
	height: 20px;
  float: left;
  font-size: 12px;
  margin-left: 390px;
  margin-top: -14px;
  color: #a39ed1;
  background-color: rgba(224, 224, 238, 0);
	border-radius: 20px;
	border: solid 1px #a39ed1;
  z-index: 2px;
}

#bad {
  width: 110px;
  height: auto;
  margin-top: -60px;
}
